/* 
margin-top:上
margin-right:右
margin-bottom:下
margin-left:左

background-image: url('../assets/images/W1200.jpg'); 
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 

justify-content 橫向
flex-start:左對齊 / flex-end:右對齊 / center:置中 / space-between:兩端靠邊/ 
space-around:左右平均留空 / space-evenly:空格平均分配

align-items 縱向
flex-start:靠上方 / flex-end:靠下方 / center:置中
stretch:撐滿容器高度 / baseline:對齊文字基線
*/

/* 整體網頁背景與字體設定 ------------------------------------------------- */
html, body {
    font-family: Arial, sans-serif; /* 設定字體 */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0; /* 移除預設外距 */
    padding: 0; /* 移除預設內距 */
    background-color:#fef1e5; /* 背景顏色 */
}

/* 導覽列 ------------------------------------------------- */

.custom-navbar{
    background: #F5F5F5;
}

/* LOGO 和導覽列背景 */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
    transition: all 0.3s ease; /* 平滑效果 */
}

.navbar:hover {
    background-color: #f8f9fa; /* 懸停時變亮 */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* 加強陰影 */
}

/* LOGO文字與圖片調整 */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #F0A04B; /* LOGO文字顏色 */
}

.navbar-brand:hover {
    color: #e96875; /* LOGO懸停顏色 */
}

.navbar-brand img {
    margin: 0 8px; /* 左右 6px */
    width: 28px;
    height: 28px;
}


/* icon 列表 */
.navbar-tool {
  display: flex;
  align-items: center;        
  /* justify-content: center; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-wrapper {
    display: inline-flex; 
    align-items: center;           /* 垂直置中 */
    justify-content: center;       /* 水平置中 */
    width: 32px;
    height: 32px;
    background-color: #fac97f; /* 你想要的填色 */
    border-radius: 50%;         /* 讓圖片變圓 */
    padding: 3px;               /* 可選擇加內距 */
    margin: 0 8px; /* 左右 6px */
    object-fit: contain; /* 不變形 */
}

.icon-wrapper:hover {
    background-color: #e96875; /* LOGO懸停顏色 */
}

.icon-wrapper img {
    width: 20px;
    height: auto;
    object-fit: contain; /* 不變形 */
}

.cart-wrapper {
    flex-direction: column;     /* 垂直排列 span 與 strong */
    align-items: center;           /* 垂直置中 */
    justify-content: center;       /* 水平置中 */
    gap: 0.2rem;                /* 文字之間的間距 */
    font-size: 14px;
}

.cart-btn {
  border: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 0.2rem; */
}

/* 主橫幅區塊樣式 ------------------------------------------------- */

.banner-ad {
    width: 90%;             /* 橫幅占比 */
    max-width: 1280px;       /* 區塊最大寬度 */
    margin: 30px auto;      /* 上下留白，左右置中 */
    padding: 10px;          /* 容器內距 */
    border-radius: 20px;    /* 圓角設定 */
    overflow: visible;      /* 允許內部超出內容 */
    position: relative;
    box-shadow: 0 4px 16px rgba(255, 232, 27, 0.1);  /* 陰影 */
    border: 1px solid #cccccc; /* 淡灰色邊框 */
    background: #F5F5F5 ;
}

/* Swiper 的每張 slide 區塊 */
.swiper-slide {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.main-banner {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    
}

/* 主橫幅標題文字設定 */
.main-banner h1 {
    font-size: 40px; 
    margin: 10px 0 0;
    color: #4B5945; 
    font-weight: bold;
}

.hs-main {
    color: #F0A04B;       
    font-size: 48px;          /* 標題字體大小 */
    font-weight: 600;
    margin-right: 6px;
}

.hs-end {
    color: #5D4037;         /* 深咖啡色（搭配薯條主題） */
    font-size: 32px;          /* 小於主字，但仍醒目 */
    font-weight: 500;
}

/* 主橫幅段落文字設定 */
.main-banner p {
    color: #4B5945; /* 文字顏色 */
    font-size: 24px; /* 段落文字大小 */
    margin: 10px 0 20px; /* 上、內、下外距設定 */
}

.img-wrapper img{
    width: 200px;
    height: auto;
    object-fit: contain; /* 不變形 */
}

/* 主橫幅分頁圓點 */
.swiper-pagination {
    position: absolute;
    bottom: 10px; /* 距離底部的距離 */
    width: 100%;
    text-align: center;
    z-index: 10; /* 確保在圖片上方 */
}

/* 每個圓點 */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ccc;
    opacity: 1; /* 完全不透明（可調整透明度） */
    border-radius: 50%; /* 圓角設定，50% */
    transition: all 0.3s ease;
}

/* 被選中的圓點 */
.swiper-pagination-bullet-active {
    width: 24px;
    background: #F0A04B;
    border-radius: 12px;
}

/* 商品 ------------------------------------------------- */

.product-tabs {
    display: flex;
    width: 90%;
    max-width: 1280px;       /* 區塊最大寬度 */
    margin: 10px auto 0px;      /* 上下留白，左右置中 */
    justify-content: space-between;
    align-items: flex-start;
    
}

.product-btn {
    padding: 0.2rem 0.5rem;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: #c77d7d;
    border-bottom: 3px solid transparent;
}

.product-btn.active {
    color: #000;
    border-color: #f4c431;
    transform: scale(0.97);
}


.product-section {
  opacity: 1;
  transition: opacity 0.4s ease;
  display: none; /* 預設全部隱藏，JS 會開啟正確的 */
}

/* 顯示中的區塊 */
.product-section.show {
  display: block;
  opacity: 1;
}

/* 淡出時（JS會先加這個） */
.product-section.hide {
  opacity: 0;
}

.section-title {
    margin: 20px auto 10px;
    width: 90%;
    max-width: 1280px;
    color: #333;
}

.product-grid {
    display: grid;
    width: 90%;   
    max-width: 1280px;
    margin: 0px auto;      /* 上下留白，左右置中 */
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    gap: 1rem;
    
}

.product-card {
    background: #F5F5F5 ;
    border-radius: 20px; /* 圓邊 */
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: center;
    width: 100%;       /* 這行很關鍵 */

}

.product-img {
    position: relative;
    /* border: 1px solid #cccccc;  */
}

.product-img img {
    margin-top: 25px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.popular-badge {
    position: absolute;
    top: 4px;
    left: 4px;
    background: #f4c431;
    color: #000000;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 6px;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

/* .product-rating {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 0.5rem;
} */

/* .star {
  color: #ffc107;
  margin-left: 0.25rem;
} */

.product-price {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-size: 0.85rem;
}

.qty-btn {
  background: #eee;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.qty {
  min-width: 20px;
  display: inline-block;
  text-align: center;
} */

.add-cart {
  flex: 1;
  padding: 6px 8px;
  background: #B2C9AD;
  color: #4B5945;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.add-cart:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}



/* 自定義按鈕樣式 ------------------------------------------------- */

.login-btn, .btn {
    position: relative; /* 相對定位，用於背景效果 */
    padding: 5px 10px; /* 按鈕的內距，調整按鈕大小 */
    font-size: 16px; /* 調整按鈕文字的大小 1.0rem */
    color: #4B5945; /* 按鈕文字顏色 */
    background-color: #B2C9AD; /* 按鈕的背景色 (藍色) */
    border: 1px solid #8EA3A6; /* 移除按鈕邊框 none / 邊框樣式 1px solid #8EA3A6; */
    border-radius: 10px; /* 設定按鈕為圓角 */
    cursor: pointer; /* 游標樣式 */
    transition: background-color 0.3s ease, transform 0.2s ease; /* 平滑過渡效果 */
}

/* 懸停按鈕效果 */
.login-btn:hover, .btn:hover {
    background-color: #438edf; /* 懸停時按鈕變深藍 */
    transform: scale(1.05); /* 按鈕放大 5% */
}

/* 按下按鈕效果 */
.login-btn:active, .btn:active {
    transform: scale(0.95); /* 按下時按鈕縮小 5% */
}

.btn-xs {
  padding: 0.1rem 0.3rem; /* 更小的內距 */
  font-size: 0.7rem;      /* 字體更小 */
  
}


/* ------------------------------------------------- */

/* 表格容器樣式 */
.main-table {
    flex: 1 1 80%; /* 彈性比例與寬度 */
    opacity: 0.8;
    padding: 30px; /* 內邊距 */
    margin: 10px ; /* 卡片外距 */
    background: rgb(255, 255, 255); /* 背景顏色 */
    border-radius: 10px; /* 圓角效果 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
    overflow-x: auto; /* 横向滚动条 */
}

/* 表格標題樣式 */
.main-table h1 {
    color: #000000; /* 深色標題 */
    font-weight: bold; /* 字型加粗 */
    margin-bottom: 5px; /* 下方間距 */
    text-align: center; /* 標題置中 */
}

/* 表格樣式 */
.main-table table {
    background-color: #feedd5; /* 表格背景顏色 */
    border-radius: 10px; /* 圓角效果 */
    overflow: hidden; /* 去掉多餘部分 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
    width: 100%; /* 表格寬度 100% */
}

/* 表格標題樣式 */
.table-hover th {
    background-color: #cadff0; /* 表格標題背景色 */
    color: #333333; /* 標題文字顏色 */
    text-align: center; /* 標題文字置中 */
}

/* 表格內容樣式 */
.main-table td {
    vertical-align: middle; /* 垂直居中 */
}

/* 偶數行樣式 */
tbody tr:nth-child(even) {
    background-color: #ffd9aa; /* 偶數行的背景色 */
}

/* 滑鼠懸停行樣式 */
tbody tr:hover {
    background-color: #fcfffa; /* 滑鼠懸停時的背景色 */
}

/* 頁腳樣式 */
.blank-space {
    height: 0px;
    margin: 10px auto;

} 

/* 頁腳樣式 */
.footer {
    display: flex;  /* 啟用 Flexbox */
    margin-top: auto; /* 這是關鍵，讓 footer 自動推到底部 */
    width: 100%;
    padding: 20px 0;
    flex-direction: column; /* 讓內容垂直排列 */
    align-items: center;  /* 水平置中 */
    justify-content: center; /* 垂直置中 */
    text-align: center; /* 讓文字置中 */    
    border-top: 1px solid #ccc;
    background-color: #F5F5F5;
}

/* 文字顏色 */
.footer p {
    color: #666;
    font-size: 14px;
    margin: 0;
}

/* 頁腳連結 */
.footer-links {
    list-style: none;
    padding: 0;
    
    margin-bottom:-5px;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    text-decoration: none;
    color: #666; /* 連結顏色 */
    font-size: 14px;
}

.footer-links a:hover {
    color: #0056b3; /* 滑鼠懸停時變深藍 */
}

/* 手機模式 ------------------------------------------------- */
@media (max-width: 768px) {

.main-banner {
    flex-direction: column;      /* 手機版改為直向排列 */
    align-items: stretch;        /* 不要全體靠左，讓內部自己決定 */
    text-align: center;          /* 文字置中（可選） */
    min-height: 350px;
  }
  
.banner-content {
    text-align: left;
  }

.hs-main {
    color: #F0A04B;       
    font-size: 38px;          /* 標題字體大小 */
    font-weight: 600;
    margin-right: 6px;
}

.hs-end {
    color: #5D4037;         /* 深咖啡色（搭配薯條主題） */
    font-size: 24px;          /* 小於主字，但仍醒目 */
    font-weight: 500;
}

.main-banner p {
    color: #4B5945; /* 文字顏色 */
    font-size: 18px; /* 段落文字大小 */
    margin: 10px 0 20px; /* 上、內、下外距設定 */
}

.img-wrapper img {
    max-width: 50%;              /* 圖片不要太大 */
    height: auto;
    margin: 10px 0 40px;         /* 上、內、下外距設定 */
}

.main-banner {
    flex-direction: column;      /* 手機版改為直向排列 */
    align-items: stretch;        /* 不要全體靠左，讓內部自己決定 */
    text-align: center;          /* 文字置中（可選） */
    min-height: 350px;
  }

.product-tabs {
    flex-direction: column;      /* 手機版改為直向排列 */
   
    
}

.product-grid {
  grid-template-columns: repeat(2, 1fr);
}

.product-img img {
    max-width: 50%;              /* 圖片不要太大 */
    height: auto;
    
}

.footer {
    margin-top: auto; /* 讓 footer 自動貼底 */
    width: 100%;
    padding: 15px 0;
}
  
}